{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock title %}

{% block content %}

<header>
<!-- A logo volta para a home-->
    <a href="/">
        <img src="logo.png" alt="Imagem da Logomarca">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
    </nav>
</header>

<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideas">
        {% for idea in ideas %}
        <div class="idea">
            <img 
                src="{{idea.image}}" 
                alt="Imagem de {{idea.title}}">
        
            <div class="content">
                <h3>{{idea.title}}</h3>
        
                <p>{{idea.category}}</p>
        
                <div class="description">
                    {{idea.description}}
                </div>
        
                <div id="option">
                    <a id="trashCan" href="/delete/{{idea.id}}">
                        <img src="https://img.icons8.com/clouds/100/000000/delete-forever.png"/>
                    </a>

                    <a href="{{idea.link}}" target="_blanck">Ir para a Ideia</a>
                </div>
            </div>
        </div>     
        {% endfor %}
    </section>
</main>

<footer>
    Com ♥️ <a href="http://rocketseat.com.br" target="_blank">Rocketseat</a>
</footer>

{% endblock %}